.item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 8px 0;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.icon {
  color: #555;
}